<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.darksnow.mapper.CarPositionMapper">


    <sql id="update">
        <trim suffixOverrides=",">
            <if test="areaId !=null and areaId != ''">
                areaId=#{areaId},
            </if>
            <if test="positionNo !=null and positionNo != ''">
                positionNo=#{positionNo},
            </if>
            <if test="addTime !=null ">
                addTime=#{addTime},
            </if>
            <if test="isactive !=null">
                isactive=#{isactive},
            </if>

        </trim>
    </sql>
    <!-- 查询停车管理信息 indexPos-->
    <select id="indexPos" resultType="Tcarposition">

       select a.pid,a.areaId,a.positionNo,a.addTime,a.isactive,b.areaName from t_carposition a inner join  t_cararea b on  a.areaId=b.id
    </select>

    <!--新建停车管理-->
    <insert id="addPos" parameterType="com.darksnow.bean.Tcarposition">
        insert  into t_carposition  (areaId,positionNo,addTime,isactive) values (#{areaId},#{positionNo},#{addTime},#{isactive})
     </insert>

    <!-- 删除车位-->
    <delete id="delById">
        delete from  t_carposition where pid=#{id}
    </delete>

    <select id="getById" resultType="Tcarposition">
        select  * from t_carposition where pid =#{id}
    </select>

    <update id="update">
        update t_carposition set <include refid="update"/> where pid =#{pid}
    </update>


    <select id="getAllCount" resultType="int">
        select count(1) from t_carposition
    </select>

    <!--  分页获取列表-->
    <select id="getFatch" resultType="Tcarposition">

        select a.pid,a.areaId,a.positionNo,a.addTime,a.isactive,b.areaName from t_carposition a inner join  t_cararea b on  a.areaId=b.id order by a.pid limit #{pageNo},#{pageSize}
    </select>


    <select id="getActiveList" resultType="Tcarposition">
        select * from  t_carposition where isactive=0 order by pid
    </select>


    <select id="getPriceByPid" resultType="float" >
        select b.price  from t_carposition a ,t_cararea b where a.pid=#{pid} and a.areaId=b.id
    </select>

    <select id="getByPositionNo" resultType="com.darksnow.bean.Tcarposition">
        select * from  t_carposition where positionNo=#{positionNo}
    </select>
</mapper>
